$clr-primary: #54e6af;
$clr-secondary: #2c344b;
$clr-bg: #121725;
$clr-gray: #5a668a;
$clr-light-gray: #c2cbe5;
$clr-white: #fff;
$clr-error: #fb3e3e;

$ff-primary: "Chivo", sans-serif;

$fw: 400;

$fs-200: 1.2rem;
$fs-300: 1.4rem;
$fs-400: 1.8rem;
$fs-600: 2.8rem;
$fs-700: 5.2rem;

$lh-200: 1.4rem;
$lh-400: 2.8rem;
$lh-900: 6.2rem;

$bg-gradient: linear-gradient(to bottom, #121725ab, #121725ab),
  url(/tablet/image-host.jpg);
